body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

.calendar {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4caf50;
    color: white;
}

.calendar-header button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #f4f4f4;
}

.day-name {
    padding: 10px;
    background-color: #ddd;
    font-weight: bold;
}
.day-name1 {
    padding: 10px;
    background-color: #ed3333;
    font-weight: bold;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.date {
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.date:hover {
    background-color: antiquewhite;
}
